<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%highlight{[%p]}{
            TRACE=blue,
            DEBUG=green,
            INFO=cyan,
            WARN=yellow,
            ERROR=red,
            FATAL=bright_red,
            ALL=magenta,
            OFF=black
            } %d{dd MMM yyyy HH:mm:ss,SSS} [%t] %c{1.}: %L - %highlight{%m%n}{TRACE=blue, DEBUG=green, INFO=cyan,
            WARN=yellow, ERROR=red, FATAL=bright_red}
        </Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" disableAnsi="false"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.anantixia" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>
